<br><br>
<nav class="navbar fixed-top navbar-dark shadow-lg p-3 mb-5 bg-white border-success rounded justify-content-between py-0">
  <div class="text-center">
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">

      <button class="btn btn-white " id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
        <img src="/assets/img/settings.png" width="30" height="25" alt="">
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button routerLink="/fr-account" ngbDropdownItem><img src="/assets/img/person-fill.png" width="25" height="25"
          class=" ms-auto" alt="">&nbsp;Profil</button>
        <button (click)="navselectall()" ngbDropdownItem><img src="/assets/img/grid-fill.png" width="25" height="25"
            class=" ms-auto" alt="">&nbsp;Tous</button>
        <button (click)="viewselectman()" ngbDropdownItem><img src="/assets/img/map.png" width="25" height="25"
            class=" ms-auto" alt="">&nbsp;Localisation Manuel</button>
        <button (click)="navselectauto()" ngbDropdownItem><img src="/assets/img/geo.png" width="25" height="25"
            class=" ms-auto" alt="">&nbsp;Localisation Actuelle</button>
        <button (click)="aboutme()"  ngbDropdownItem><img src="/assets/img/question-fill.png" width="25" height="25"
            class="rounded ms-auto" alt="">&nbsp;À propos de Moi</button>
      </div>

    </div>
    &nbsp;
    <img src="/assets/img/logo.png" width="60" height="50" class="" alt="">
  </div>

  <div>
    <h5 class="text-center" style="color:#75c612"> Actualités</h5>
    <h6 id="currentposition" class="text-center" style="color:#75c612"> <img src="/assets/img/location.png" width="15" height="20"
        class="d-inline-block align-top" alt=""> Activer l'accès GPS</h6>
  </div>

  <div></div>

  
  <div id="locman" class="text-center" style="display:none;">
    &nbsp;  &nbsp; <img src="/assets/img/map.png" width="38" height="38"
    class="rounded ms-auto" alt="">  &nbsp;  &nbsp;
  <select id="navman" class="text-center" aria-label="Sélectionnez localisation manuel">
    <option selected value="Ariana">Ariana</option>
    <option value="Béja">Béja</option>
    <option value="Ben Arous">Ben Arous</option>
    <option value="Gabès">Gabès</option>
    <option value="Gafsa">Gafsa</option>
    <option value="Jendouba">Jendouba</option>
    <option value="Kairouan">Kairouan</option>
    <option value="Kasserine">Kasserine</option>
    <option value="Kebili">Kebili</option>
    <option value="Kef">Kef</option>
    <option value="Mahdia">Mahdia</option>
    <option value="Manouba">Manouba</option>
    <option value="Médenine">Médenine</option>
    <option value="Monastir">Monastir</option>
    <option value="Nabeul">Nabeul</option>
    <option value="Sfax">Sfax</option>
    <option value="Sidi Bouzid">Sidi Bouzid</option>
    <option value="Siliana">Siliana</option>
    <option value="Sousse">Sousse</option>
    <option value="Tataouine">Tataouine</option>
    <option value="Tozeur">Tozeur</option>
    <option value="Tunis">Tunis</option>
    <option value="Zaghouan">Zaghouan</option>
  </select>
  &nbsp;  &nbsp;
  <button (click)="navselectman()" class="inline-block btn btn-primary">
    Selectionner</button>
    <div></div>
</div>
</nav>




<div style="background-image: url('/assets/img/background.jpeg');     background-repeat: no-repeat;
  
background-size: 100% 100%; background-attachment: fixed;" class="">
  <div id="news" style="background-image: url('/assets/img/background.jpeg');     background-repeat: no-repeat;
  
background-size: 100% 100%; background-attachment: fixed;" class="">
    &nbsp;
    <div id="waiting" >
    <div  class="card bg-light text-center shadow rounded" style="width: 20rem;">
      <h4 class="card-title text-center">Récupérer les dernières nouvelles ...</h4>
      <h5 class="card-text text-center">Veuillez Patienter</h5>
      <style>
        .loader {
          border: 16px solid darkslategrey;
          position:sticky ;
          left: 39%;
          border-radius: 50%;
          border-top: 16px solid green;
          width: 80px;
          height: 80px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
        }
        
        /* Safari */
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        </style>
    
        <div class="loader inline-block"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <br>
  </div>

  <div id="nodata" style="display: none;">
    <div class="card bg-light text-center shadow rounded" style="width: 22rem;">
      <h4 class="card-title text-center ">Aucun problème n'a été signalé à cet endroit pour le moment. ...</h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>  
  </div>

    <div class="card bg-light" style="display: none;">
      <table class="">
        <thead>
          <tr>
            <td class="" style="width: 60px;" rowspan="2"> <img class="text-end" src="assets/img/person-fill.png"
                width="50" height="50"> </td>
            <td class="">Mohamed Dhia Jebali</td>

          </tr>
          <tr>
            <td class=""><img src="/assets/img/calendar.png" width="18" height="18" style=" float: center;"
                alt="">&nbsp; 00:00:00 - 01/01/2022 </td>
          </tr>
        </thead>
      </table>
      <h5 class="card-title text-center">Example</h5>
      <img (click)="collapse('ee')" class="card-img-top" src="assets/img/exp1.jpg" style="max-height: 265px;"
        alt="Card image cap">
      <div class="card">
        <div id="ee" style="display:none" class="">
          Description
          <table>
            <tr>
              <td> <img src="assets/img/empty.jpg" width="180" height="150"> </td>
              <td> <img src="assets/img/empty.jpg" width="180" height="150"> </td>
            </tr>
            <tr>
              <td> <img src="assets/img/empty.jpg" width="180" height="150"> </td>
              <td> <img src="assets/img/empty.jpg" width="180" height="150"> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Example Sujet</p>
      </div>
      <hr>
      <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax" rowspan="2">&nbsp; <a href="https://maps.google.com/?q=1,3" class="btn btn-outline-info btn-lg">Position</a></th>
            <th class="tg-0lax" style="height: 10px; width: 200px;" > &nbsp;latitude : 1</th>
            <th class="tg-0lax" rowspan="2"><img src="/assets/img/di-tox.png" width="45" height="45" style=" float: center;"></th>
          </tr>
          <tr>
            <th class="tg-0lax" style="height: 10px; width: 200px;"> &nbsp;longitude : 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td class="tg-0lax" colspan="3">&nbsp; <img src="/assets/img/map.png" width="18" height="18" style=" float: center;"> Ben Arous</td>
       
          </tr>
        </tbody>
        </table>
        <br>
    </div>



  </div>
  <br><br><br><br>
</div>



<nav class="navbar fixed-bottom  shadow-lg bg-white rounded " style="height: 1.6cm;">
  <img routerLink="/fr-contact" src="/assets/img/fr-profile.png" width="38" height="48" class="center" alt="">
  <img routerLink="/fr-news" src="/assets/img/fr-news.png" width="38" height="48"  class="center" alt="">
  <img routerLink="/fr-report" src="/assets/img/fr-detect.png" width="38" height="48"  class="center" alt="">
  <img routerLink="/fr-events" src="/assets/img/fr-table.png" width="38" height="48" class="center" alt="">
  <img routerLink="/fr-info" src="/assets/img/fr-others.png" width="38" height="48" class="center" alt="">
</nav>