<nav class="navbar shadow-lg fixed-top navbar-dark bg-outline-success justify-content-between py-0">

  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn  " id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
      <img src="/assets/img/settings.png" width="30" height="25" alt="">
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button (click)="deconnecter()" ngbDropdownItem><img src="/assets/img/eject-fill.png" width="25" height="25"
          class="rounded ms-auto" alt="">&nbsp;Déconnecter</button>
      <button (click)="aboutme()" ngbDropdownItem><img src="/assets/img/question-fill.png" width="25" height="25"
          class="rounded ms-auto" alt="">&nbsp;À propos de Moi</button>
    </div>
    <img src="/assets/img/logo.png" width="55" height="40" class="" alt="">
  </div>
  <div>
    &nbsp;


  </div>

      <div>
        <h5 id="step" class="text-center">Liste des Profils</h5>
      </div>

      <div>


      </div>

      <div id="cred" class="text-end">
        <img src="/assets/img/person-fill.png" width="25" height="25" style=" float: left;" alt=""> &nbsp;Admin User&nbsp;

        <img src="/assets/img/location.png" width="20" height="25" class="d-inline-block align-top" alt=""> Borj Cedria
      </div>

  </nav>

<style>
    body {
        margin: 0;
        font-family: "Lato", sans-serif;
    }

    .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #c3cbd3;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #75c612;
    color: white;
  }

    .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }

    @media screen and (max-width: 700px) {
        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
        }

        .sidebar a {
            float: left;
        }

        div.content {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 400px) {
        .sidebar a {
            text-align: center;
            float: none;
        }
    }
</style>

<div class="sidebar">
    <br>
    <br>
    <a id="aaa" style="display: none;"routerLink="/a-fr-adminaccounts"><img src="/assets/img/person-fill.png" width="30" height="30"
      style="float: left; filter:invert(1); " alt="">&nbsp;
    Admin Comptes</a>
    <a class="active" routerLink="/a-fr-accounts"><img src="/assets/img/laccounts.png" width="30" height="30" style="filter:invert(1); float: left;" alt="">&nbsp;&nbsp;Comptes</a>
    <a  routerLink="/a-fr-reports"  ><img src="/assets/img/lreports.png" width="30" height="30"
        style=" float: left;" alt="">&nbsp;&nbsp;Rapports</a>
    <a   routerLink="/a-fr-approved"><img src="/assets/img/linfo.png" width="30" height="30" style="float: left;" alt="">&nbsp;
      Problèmes</a>
      <a  routerLink="/a-fr-events"><img src="/assets/img/calendar-fill.png" width="30" height="30" style="filter:invert(1); float: left;" alt="">&nbsp; Événements</a>
      <a routerLink="/a-fr-info"><img src="/assets/img/kanban-fill.png" width="30" height="30" style="float: left; filter:invert(1); " alt="">&nbsp;
        Infos</a>
        <a routerLink="/a-fr-messages"><img src="/assets/img/envelope-fill.png" width="30" height="30" style="float: left; filter:invert(1); " alt="">&nbsp;
          Messages</a>
</div>

<div id="profs" class="content"  style="background-image: url('/assets/img/backgroundadmin.png');     background-repeat: no-repeat;  background-attachment: fixed; background-size: 100% 100%;">
    <br><br>

    
  <div id="nodata" style="display: none;">
    <div class="card bg-light text-center" style="width: 22rem;">
      <h4 class="card-title text-center">Aucun compte trouvé ...</h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>  
  </div>

    <div id="waiting">
        <div class="card bg-light text-center" style="width: 20rem;">
          <h4 class="card-title text-center">Récupérer les comptes ...</h4>
          <h5 class="card-text text-center">Veuillez Patienter</h5>
          <style>
            .loader {
              border: 16px solid darkslategrey;
              position:sticky ;
              left: 54%;
              border-radius: 50%;
              border-top: 16px solid green;
              width: 80px;
              height: 80px;
              -webkit-animation: spin 2s linear infinite; /* Safari */
              animation: spin 2s linear infinite;
            }
            
            /* Safari */
            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }
            
            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
            </style>
        
            <div class="loader inline-block"></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <br>
      </div>

    <div class="card text-white bg-secondary mb-3" style="display: none;">
        <div class="card-body">
            <h5 class="card-title">
                <img src="/assets/img/person-fill.png" width="50" height="50" style="float: left; border-radius: 50%;" alt="">
                &nbsp;&nbsp;User &nbsp;
                <img src="/assets/img/phone.png" width="15" height="20" style="filter:invert(1); float: center;"
                alt=""> &nbsp;12345678 &nbsp;
                <img src="/assets/img/document-richtext.png" width="16" height="20"
                style="filter:invert(1); float: center;" alt=""> &nbsp;2&nbsp;  
                <img src="/assets/img/star.png" width="20" height="20" style="filter:invert(1); float: center;"
                    alt=""> &nbsp;1 &nbsp;
                <img src="/assets/img/calendar.png" width="20" height="20" style=" filter:invert(1);  float: center;" alt="">  &nbsp; 2022/02/01  &nbsp;
                <img src="/assets/img/remove.png" width="20" height="20" style="float: right;" alt="">
                <img src="/assets/img/empty.png" width="10" height="10" style="float: right;" alt="">
                <img src="/assets/img/modify.png" width="20" height="20" style="float: right;" alt="">
            </h5>
        </div>
    </div>



</div>