<nav class="navbar fixed-top navbar-dark bg-primary justify-content-between py-0">

  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-secondary " id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
      <img src="/assets/img/settings.png" width="30" height="25" alt="">
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button routerLink="/fr-news" ngbDropdownItem><img src="/assets/img/fr.png" width="25" height="25"
          class="rounded ms-auto" alt="">&nbsp;Français</button>
      <button routerLink="/ar-news" ngbDropdownItem><img src="/assets/img/tn.png" width="25" height="25"
          class="rounded ms-auto" alt="">&nbsp;عربي</button>
      <button routerLink="/en-news" ngbDropdownItem><img src="/assets/img/en.png" width="25" height="25"
          class="rounded ms-auto" alt="">&nbsp;English</button>
    </div>
    <img src="/assets/img/logo.png" width="55" height="40" class="" alt="">
  </div>

  &nbsp;


  <div>

  </div>

  <div>
    <h5 id="step" class="text-center">List des Événements</h5>
  </div>

  <div>

    <button type="button" id="toggle" (click)="showadd()" class="btn btn-success btn-block">Ajouter un
      Événement</button>
  </div>

  <div id="cred" class="text-end">
    <img src="/assets/img/person-fill.png" width="25" height="25" style=" float: left;" alt=""> &nbsp;Admin User&nbsp;

    <img src="/assets/img/location.png" width="20" height="25" class="d-inline-block align-top" alt=""> Borj Cedria
    &nbsp;
  </div>
</nav>

<style>
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #adb5bd;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: cornflowerblue;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  div.contentx {
    margin-left: 200px;
    padding: 1px 16px;
    height: 10px;
  }

  .slideDiv {
    visibility: hidden;
    transition: visibility .5s, max-height .5s;
    max-height: 0;
    overflow: hidden;

    /* additional style */
    background: grey;
    color: white;
    padding: 0px 12px;
    margin-bottom: 8px;
  }

  .slideDiv.open {
    visibility: visible;
    /* Set max-height to something bigger than the box could ever be */
    max-height: 100px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .sidebar a {
      float: left;
    }

    div.content {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
</style>

<div class="sidebar">
  <br>
  <br>
  <a routerLink="/a-fr-accounts"><img src="/assets/img/laccounts.png" width="30" height="30" style="float: left;"
      alt="">&nbsp;&nbsp;Comptes</a>
  <a routerLink="/a-fr-reports"><img src="/assets/img/lreports.png" width="30" height="30" style=" float: left;"
      alt="">&nbsp;&nbsp;Reports</a>
  <a routerLink="/a-fr-info"><img src="/assets/img/linfo.png" width="30" height="30" style="float: left;" alt="">&nbsp;
    Problems</a>
  <a class="active" routerLink="/a-fr-events"><img src="/assets/img/calendar-fill.png" width="30" height="30"
      style="float: left;" alt="">&nbsp; Événements</a>
</div>


<div id="slideDiv" style="display: none;" class="content card text-white bg-secondary mb-3">
  <br><br>
  <h1>Ajouter événement</h1>
  <div class="card-body">
    <h5 class="card-title">
      <label for="idtitlex">Title</label>
      <input type="text" class="form-control" id="idtitlex" placeholder="Title">
      <label for="idtitlex">Subject</label>
      <textarea type="textarea" class="form-control" id="idsubjectx" placeholder="Subject" rows="3"></textarea>
      <label for="idtitlex">Desciption</label>
      <textarea type="textarea" class="form-control" id="iddescriptionx" placeholder="Description" rows="5"></textarea>
      <label for="iddate_evx">Date de l'évènement</label>
      <textarea type="textarea" class="form-control" id="iddate_enx" placeholder="Date de l'évènement"
        rows="3"></textarea>
      <br>
      Nouvelles Images
      <br> <br>
      <button type="file" (click)="picupload()" accept="image/*" class="btn btn-success">
        <img src="/assets/img/arrow-bar-up.png" width="30" height="25" style="filter: invert(1); float: left;"
          alt="">&nbsp; Télecharger</button>
      <br> <br>
      <div class=" row">
        <div class="col" style="background-color: aliceblue;" id="pic1">&nbsp;</div>&nbsp;
        <div class="col" style="background-color: aliceblue;" id="pic2">&nbsp;</div>&nbsp;
        <div class="col" style="background-color: aliceblue;" id="pic3">&nbsp;</div>&nbsp;
        <div class="col" style="background-color: aliceblue;" id="pic4">&nbsp;</div>&nbsp;
        <div class="col" style="background-color: aliceblue;" id="pic5">&nbsp;</div>
      </div>
      <br>
    </h5>
  </div>
</div>


<div id="events" class="content">
  <br><br>

  <div class="card text-white bg-secondary mb-3" style="display: none;">
    <div class="card-body">
      <h5 class="card-title">
        &nbsp;Rendons notre ville plus verte ! &nbsp;

        <img src="/assets/img/calendar.png" width="20" height="20" style=" float: center;" alt=""> 2022/02/01
        <img src="/assets/img/remove.png" width="20" height="20" style="float: right;" alt="">
        <img src="/assets/img/empty.png" width="10" height="10" style="float: right;" alt="">
        <img src="/assets/img/modify.png" width="20" height="20" style="float: right;" alt="">
        <img src="/assets/img/empty.png" width="10" height="10" style="float: right;" alt="">
        <img src="/assets/img/accept.png" width="20" height="20" style="float: right;" alt="">
      </h5> &nbsp;
      <p class="card-text">Un groupe de personnes organisera un événement consistant à planter divers types de plantes
        allant des arbres et des fleurs dans la partie principale de la ville de Borj Cedria.</p>
      <p class="card-text bg-dark">Salut ! nous sommes un petit groupe de personnes en croissance visant à rendre votre
        ville plus belle en plantant plus d'arbres et de fleurs dans la plupart des quartiers de borj cedria,
        prenez soin d'être un civil responsable et aidez-nous à rendre notre ville merveilleuse, contactez cet e-mail
        "x@x.com ?.</p>
      <hr>
      <img src="assets/img/7168985_Tt5j5S2Tz9u8eo8Vi7saCkMYbguMoBsggxAYantEv-U.jpg" width="150" height="125">
      <img src="assets/img/empty.jpg" width="150" height="125">
      <img src="assets/img/empty.jpg" width="150" height="125">
      <img src="assets/img/empty.jpg" width="150" height="125">
      <img src="assets/img/empty.jpg" width="150" height="125">
    </div>
  </div>

  <div id="send" style="display: none;" class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <label for="idtitlex">Title</label>
        <input type="text" class="form-control" id="titlex" placeholder="title">
        <label for="idtitlex">Subject</label>
        <textarea type="textarea" class="form-control" id="subjectx" placeholder="subject" rows="3"></textarea>
        <label for="idtitlex">Desciption</label>
        <textarea type="textarea" class="form-control" id="descriptionx" placeholder="description" rows="5"></textarea>
        <label for="iddate_evx">Date de l'évènement</label>
        <textarea type="textarea" class="form-control" id="date_enx" placeholder="Date de l'évènement"
          rows="3"></textarea>
        <br>
        Choisir les Images
        <br> <br>
        <button type="file" (click)="picupload()" accept="image/*" class="btn btn-success">
          <img src="/assets/img/arrow-bar-up.png" width="30" height="25" style="filter: invert(1); float: left;"
            alt="">&nbsp; Télecharger</button>
        <br> <br>
        <div class=" row">
          <div class="col" style="background-color: aliceblue;" id="pic1">&nbsp;</div>&nbsp;
          <div class="col" style="background-color: aliceblue;" id="pic2">&nbsp;</div>&nbsp;
          <div class="col" style="background-color: aliceblue;" id="pic3">&nbsp;</div>&nbsp;
          <div class="col" style="background-color: aliceblue;" id="pic4">&nbsp;</div>&nbsp;
          <div class="col" style="background-color: aliceblue;" id="pic5">&nbsp;</div>
        </div>
        <br>
        <br>
        <button type="file" (click)="send()" accept="image/*" class="btn text-end btn-warning">
          <img src="/assets/img/arrow-bar-up.png" width="30" height="25" style="filter: invert(1); float: left;"
            alt="">&nbsp; Submit</button>

      </h5>
      
    </div>