<div style="background-image: url('/assets/img/wallpaper.jpg');     background-repeat: no-repeat;
background-size: 100% 100%; background-attachment: fixed;" class="container">

<div class="text-center">
<br>
<br>
<br>

    <img src="/assets/img/logotitle.png" width="350" height="225" class="" alt="">
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="card text-center" style="width: 19rem;">
        <div class="card-body">
            <table class="">
                <tr>
                <td>
                  <img (click)="startfr()"   src="/assets/img/fr.png" width="75" height="50" class="rounded ms-auto text-start"  alt="">&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                   <img (click)="startar()" src="/assets/img/tn.png" width="75" height="50" class="rounded ms-auto"  alt="">&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                 <img (click)="starten()" src="/assets/img/en.png" width="75" height="50" class="rounded ms-auto"  alt="">
                </td>
                
                </tr>
                
                <tr>
                    <td>
                        <h5 class="card-title">Français&nbsp;&nbsp;</h5>
                    </td>
                    <td>
                        <h5 class="card-title">عربية&nbsp;&nbsp;</h5>
                    </td>
                    <td>
                        <h5 class="card-title">English</h5>
                    </td>
                    
                    </tr>
                
                    </table>
        
        </div>
      </div>
           
           



</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</div>